####
#  exclude all databases e.g. sport.db

*.db

###
#  exclude log or generated stuff
build.log
_site/
*.json
!match_data.json
!standings.json
!team_names.json
!teams.json
!wiki_squads.json
!polymarket.json


##
#  exclude for testing   sandbox/ and tmp/

sandbox/
tmp/


##
#  exclude inplace backups .v2.txt,.v26xxx.txt

*.v2.txt
*.v26*.txt
